<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>Title</key>
			<string>GaraponTvGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>gtv_address</string>
			<key>Title</key>
			<string>GaraponTvAddress</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>gtv_firmware_version</string>
			<key>Title</key>
			<string>GaraponTvFirmwareVersion</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>GaraponTvDiskSize</string>
			<key>Key</key>
			<string>gtv_disk_size</string>
			<key>DefaultValue</key>
			<integer>500</integer>
			<key>Values</key>
			<array>
				<integer>500</integer>
				<integer>1000</integer>
                <integer>1500</integer>
				<integer>2000</integer>
                <integer>3000</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>500GB</string>
				<string>1.0TB</string>
                <string>1.5TB</string>
				<string>2.0TB</string>
                <string>3.0TB</string>
			</array>
		</dict>
        <dict>
			<key>Key</key>
			<string>gtv_web_server</string>
			<key>Title</key>
			<string>GaraponTvOpenURL</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>gtv_tv_site</string>
			<key>Title</key>
			<string>GaraponTvSiteOpenURL</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
		</dict>
        <dict>
            <key>Title</key>
			<string>DataGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>data_clear_watch_history</string>
			<key>Title</key>
			<string>DataGroupClearWatchHistory</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>data_clear_search_history</string>
			<key>Title</key>
			<string>DataGroupClearSearchHistory</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
		</dict>
        <dict>
            <key>Title</key>
			<string>ShareGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>share_tag_line</string>
            <key>DefaultValue</key>
			<string>share_tag_line</string>
			<key>Title</key>
			<string>ShareGroupTagLine</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>ApplicationGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>ApplicationVersion</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
			<key>File</key>
			<string>library_copyrights.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>Title</key>
			<string>ApplicationLibraryLicense</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<string>makotokw.com</string>
			<key>File</key>
			<string>https://twitter.com/makoto_kw</string>
			<key>Title</key>
			<string>ApplicationDeveloper</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>account_logout</string>
			<key>Title</key>
			<string>AccountGroupLogout</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
