<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>Title</key>
			<string>GaraponTvGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>gtv_address</string>
			<key>Title</key>
			<string>GaraponTvAddress</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>gtv_firmware_version</string>
			<key>Title</key>
			<string>GaraponTvFirmwareVersion</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>ApplicationGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>ApplicationVersion</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
			<key>File</key>
			<string>library_copyrights.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>Title</key>
			<string>ApplicationLibraryLicense</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<string>makotokw.com</string>
			<key>File</key>
			<string>https://twitter.com/makoto_kw</string>
			<key>Title</key>
			<string>ApplicationDeveloper</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>account_logout</string>
			<key>Title</key>
			<string>AccountGroupLogout</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
