### Xcode ###
build
*/*.xcodeproj/*
*/*.xcworkspace/*
!*/*.xcodeproj/project.pbxproj
*/Pods/*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Ruby ###
*/.bundle
*/vendor/bundle

### Garanchu ###
GRCGaranchuConfig.h
